<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>CFBundleDevelopmentRegion</key>
<string>English</string>
<key>CFBundleDisplayName</key>
<string>chartIframe</string>
<key>CFBundleIdentifier</key>
<string>com.mycompany.widget.MyWidgetTitle</string>
<key>Width</key>
<string>300</string>
<key>Height</key>
<string>200</string>
<key>IBNotifiesOnReady</key>
<true/>
<key>MainHTML</key>
<string>index.html</string>
</dict>
</plist>
